{% extends "base.html" %}

{% block title %}
About us
{% endblock title %}

{% block parsa %}
<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <p class="card-text py-3" style="text-align: justify;">
                        {% lorem 7 p random %}
                    </p>
                </div>
            </div>
        </div>
        {% include "ab.html" %}
    </div>
</div>
{% endblock parsa %}
